@import url('https://fonts.googleapis.com/css2?family=Iosveka:wght@700&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    font-family: 'Source Code Pro', monospace;
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
    color: dodgerblue;
    text-decoration:none;
    width: fit-content;
  }
  
  a:hover {
    color: rgb(132, 255, 95);
    transform: scale(1.2);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
body{
    color:#bfbfbf;
    background-color: #1b2432 ;
}
h1,h3
{
    font-family: 'Fira Code', monospace;
}
h3{
  border-bottom: 3px solid green;
  border-bottom-color: greenyellow;
  color: greenyellow ;
  transition: 1s;
}
h3:hover{
    background-color: rgb(117, 255, 124);
    color: black;

}
main{
   font-family:"Source Serif Pro", serif;
   font-size: 1.2rem;

}
.tip {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: center;
    overflow: hidden;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
    background-color: rgb(26, 54, 93);
    border-left: 4px solid rgb(144, 205, 244);
        border-left-color: rgb(144, 205, 244);
    border-color: rgb(144, 205, 244);
    margin-top: 1rem;
    width: 70%;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);
    border-bottom:4px solid deepskyblue;
    border-bottom-color: dodgerblue;
    transition: 1000ms;
}
.tip:hover{
    width:100%;
}
img:hover{
  cursor: zoom-in;
}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: dodgerblue;
    text-decoration:none;
    width: fit-content;
    transition: linear;
    border-bottom:2px solid  greenyellow;
    border-bottom-color: greenyellow;
    border-bottom-left-radius: 0rem;
}
h5:hover{
  border-bottom-left-radius: 3rem;
}
code{
  font-family: 'Source Code Pro', monospace; 
}